@model varsity_w_auth.Models.SponsorDto

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_AdminView.cshtml";
}


<h4>Are you sure you want to delete this sponsor?</h4>
<div>
    
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.SponsorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SponsorName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.SponsorURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SponsorURL)
        </dd>
        
    </dl>

    @using (Html.BeginForm("Delete", "Sponsor", new { id=Model.SponsorID})) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>
