@model varsity_w_auth.Models.ViewModels.UpdateSponsor

@{
    ViewBag.Title = "Details";
}

<h4>Sponsor @Model.sponsor.SponsorName</h4>

<div>
    <nav class="editnav">
        <ul>
            <li>@Html.ActionLink("Back to List", "List")</li>
            @if (Model.isadmin)
            {
                <li>@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.sponsor.SponsorID })</li>
                <li>@Html.ActionLink("Edit", "Edit", new { id = Model.sponsor.SponsorID })</li>
            }
        </ul>

    </nav>
    
    <div style="overflow:hidden;">
        <div style="float:left; margin-right:2%; width:49%;">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.sponsor.SponsorName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sponsor.SponsorName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sponsor.SponsorURL)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sponsor.SponsorURL)
                </dd>

            </dl>
        </div>
        <div style="float:left; margin-right:0%; width:49%; padding-top:10px;">
            <h5>Teams Sponsored:</h5>
            <div class="sublist">
                @if (Model.sponsoredteams.Count() == 0)
                {
                    <span class="asidemsg">Not sponsoring any teams.</span>
                }
                @foreach (var team in Model.sponsoredteams)
                {
                    <div class="listitem">
                        @Html.ActionLink(
                        team.TeamName,
                        "Details",
                        "Team",
                        new { id = team.TeamID },
                        new { })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
