@model varsity_w_auth.Models.ViewModels.ListSponsors

@{
    ViewBag.Title = "View";
}

<h2>View</h2>
@if (Model.isadmin)
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<table class="table">
    <tr>
        <th>
            Sponsor Name
        </th>
        <th>
            Sponsor Link
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model.sponsors) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.SponsorName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.SponsorURL)
        </td>
        <td>
            @if (Model.isadmin) { 
            <span style="margin-right:5px;"> @Html.ActionLink("Edit", "Edit", new { id = item.SponsorID })</span>
            }
            @Html.ActionLink("Details", "Details", new { id=item.SponsorID })
            
        </td>
    </tr>
}

</table>
