@model varsity_w_auth.Models.ViewModels.ListTeams

@{
    ViewBag.Title = "View";
}

<h2>View</h2>
@if (Model.isadmin)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Team Name
        </th>
        <th>
            Team Bio
        </th>
        <th >
            Action
        </th>
    </tr>

@foreach (var item in Model.teams) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.TeamBio)
        </td>
        <td>
            @if (Model.isadmin)
            {
            <span style="margin-right:5px;">@Html.ActionLink("Edit", "Edit", new { id = item.TeamID })</span>
            }
            @Html.ActionLink("Details", "Details", new { id=item.TeamID })
            
        </td>
    </tr>
}

</table>
