@model varsity_w_auth.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@Model.UserName's  Account </h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <nav class="editnav">
        <ul>
            <li>
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            </li>
        </ul>

    </nav>
    <div>
        <h4>Update Profile</h4>
        <form action="/Manage/UpdateUser" method="post">
            <input name="id" value="@Model.UserId" style="display:none;" />
            <div class="form-group">
                <label class="control-label">Nickname:</label>
                <input class="form-control" type="text" name="NickName" value="@Model.UserName" />
            </div>
            <div class="form-group">
                <input type="submit" value="Update"/>
            </div>
        </form>
    </div>
    <div style="margin-top:30px;">
        <h4>Comments Written By You:</h4>
        @{
            //Rendering includes context of team this message is written for.
            //Links to the team details where the comment is written, will jump down to the ID
        }
        @foreach (var support in Model.SupportMessages)
        {
            <div class="supportmessage">
                <nav class="linknav" style="margin-bottom:10px;">
                    <a href="/Team/Details/@support.TeamID#TeamSupport_@support.SupportID">written by @support.UserName on @support.DSupportDate for @support.TeamName</a>
                </nav>
                @support.SupportMessage
            </div>
        }
        

    <dl class="dl-horizontal">
        @*
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>

                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
        *@
        @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>

            <dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>
                @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }
            </dd>
        *@
    </dl>
</div>
