@model varsity_w_auth.Models.ViewModels.ShowPlayer

@{
    ViewBag.Title = "Details";
}

<h4>Player</h4>

<div>
    <nav class="editnav">
        <ul>
            <li>@Html.ActionLink("Back to List", "List")</li>
            @if (Model.isadmin) { 
            <li>@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.player.PlayerID })</li>
            <li>@Html.ActionLink("Edit", "Edit", new { id = Model.player.PlayerID })</li>
            }
        </ul>
        
    </nav>
    <hr />
    @{
        //Use server rendering to determine an image
        string pic = "/Content/Players/default.jpg";
        string alt = "No Profile Picture Provided.";
        if (Model.player.PlayerHasPic)
        {
            pic = "/Content/Players/" + Model.player.PlayerID + "." + Model.player.PicExtension;
            alt = "Profile shot of " + Model.player.PlayerFirstName + " " + Model.player.PlayerLastName;
        }
    }
    <div class="imagecontainer featured">
        <img src="@pic" alt="@alt" />
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.player.PlayerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player.PlayerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player.PlayerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player.PlayerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player.PlayerBio)
        </dt>

        <dd>
            @Html.Raw(Model.player.PlayerBio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team.TeamName)
        </dt>
        <dd>
            @Html.ActionLink(Model.team.TeamName, "Details", "Team", new { id = Model.team.TeamID }, new { })
        </dd>

    </dl>
</div>

