@model IEnumerable<varsity_w_auth.Models.PlayerDto>

@{
    ViewBag.Title = "View";
}

<h2>Players</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="record-container">
    @foreach (var player in Model)
    {
    <div class="record">
            <div class="_record">
            @{
                //Use server rendering to determine an image
                string pic = "/Content/Players/default.jpg";
                string alt = "No Profile Picture Provided.";
                if (player.PlayerHasPic)
                {
                    pic = "/Content/Players/" + player.PlayerID + "." + player.PicExtension;
                    alt = "Profile shot of " + player.PlayerFirstName + " " + player.PlayerLastName;
                }
            }
            <nav class="linknav">
                <span class="editlink">@Html.ActionLink("Edit", "Edit", new { id = player.PlayerID })</span>
            </nav>
            <div class="imagecontainer">
                <img src="@pic" alt="@alt" />
            </div>
            <div class="recordtitle">
                @Html.ActionLink(player.PlayerFirstName + " " + player.PlayerLastName,
               "Details",
               new { id = player.PlayerID })
            </div>


        </div>
    </div>
    }
</div>
