@model varsity_w_auth.Models.ViewModels.ListPlayers

@{
    ViewBag.Title = "View";
}

<h2>Players</h2>

<p>
    @if (Model.isadmin)
    {   
        //Conditional rendering based on admin or non-admin
        @Html.ActionLink("Create New", "Create")
    }
</p>
<div class="paginate">
    @if(Model.players.Count()>0){
        int PrevPage = Convert.ToInt32(ViewData["PageNum"]) - 1;
        int NextPage = Convert.ToInt32(ViewData["PageNum"]) + 1;
        @Html.ActionLink("Prev", "List", new { PageNum = PrevPage })
        @ViewData["PageSummary"]
        @Html.ActionLink("Next", "List", new { PageNum = NextPage })
    }
</div>
<div class="record-container">
    @foreach (var player in Model.players)
    {
    <div class="record">
        <div class="_record">
            @{
                //Use server rendering to determine an image
                string pic = "/Content/Players/default.jpg";
                string alt = "No Profile Picture Provided.";
                if (player.PlayerHasPic)
                {
                    pic = "/Content/Players/" + player.PlayerID + "." + player.PicExtension;
                    alt = "Profile shot of " + player.PlayerFirstName + " " + player.PlayerLastName;
                }
            }
            @if (Model.isadmin)
            {
                <nav class="linknav">
                    <span class="editlink">@Html.ActionLink("Edit", "Edit", new { id = player.PlayerID })</span>
                </nav>
            }

            <div class="imagecontainer">
                <a data-lightbox="player-@player.PlayerID" href="@pic" data-title="@alt">
                    <img src="@pic" alt="@alt" />
                </a>
            </div>
            <div class="recordtitle">
                @Html.ActionLink(player.PlayerFirstName + " " + player.PlayerLastName,
               "Details",
               new { id = player.PlayerID })
            </div>


        </div>
    </div>
    }
</div>
