@model varsity_w_auth.Models.ViewModels.UpdateSport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sport</h4>
    <hr />
    <p>
        @if (Model.isadmin) { 
        <span style="margin-right:5px">@Html.ActionLink("Edit", "Edit", new { id = Model.sport.SportID })</span>
        }
        @Html.ActionLink("Back to List", "List")
    </p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sport.SportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sport.SportName)
        </dd>

    </dl>
    <h5>Teams Playing This Sport:</h5>
    <div>
        <div>
            @foreach (var team in Model.teams)
            {
                <a href="/Team/Details/@team.TeamID">@team.TeamName</a>
            }
        </div>
    </div>
</div>

